body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.container0 {
  background-color: #1f2937;
  padding: 20px;
}
.container0-content {
  display: flex;
  flex-direction: column;
  color: #f9faf8;
}

.header {
  display: flex;
}
.headerlogo {
  font-size: 24px;
  color: #f9faf8;
}
ul {
  text-decoration: none;
  margin: 0px;
}
li {
  list-style-type: none;
  display: inline;
  padding: 5px;
}
.links {
  display: flex;
  margin-left: auto;
}
.hero {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 20px;
  justify-content: center;
}
.footer {
  background-color: #1f2937;
  color: #f9faf8;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  color: #f9faf8;
  width: 350px;
  gap: 5px;
}

.hero-primary,
.hero-secondary,
button {
  margin: 0px;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  max-width: fit-content;
  border-radius: 7px;
  border: none;
}
.hero-primary {
  font-size: 48px;
  font-weight: bolder;
}
.hero-secondary {
  font-size: 18px;
  color: lightgray;
}
.container1 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  padding: 30px;
}
.container2 {
  background-color: #e5e7eb;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.quote {
  font-size: 36px;
  font-style: italic;
  width: 500px;
  margin: auto;
  display: flex;
  padding: 15px;
}
.author {
  display: flex;
  width: 500px;
  margin: auto;
  flex-direction: row-reverse;
}
.container1-header {
  font-size: 36px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.information {
  display: flex;
  justify-content: space-evenly;
}
.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
}
.p-text {
  text-align: center;
}
